<html class="no-js" lang="">
  <head>
    {{> import_head}}
  </head>
  <body>
    <!--[if lt IE 8]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

    {{> import_nav}}

    <link rel="stylesheet" href="css/pages/buy.css" />



    <!--LOGIN RESTRICTION-->
    {{#if message}}
      <div class="error">{{message}}</div>
    {{/if}}


    <!--shop header area sart-->
    <div class="shop-header-area">
      <h1>Buy All Products</h1>
    </div>
    <!--shop header area end-->
    <!--shop-area start-->
    <div class="shop-area">
        <div class="shop-list-toolbar">
        </div>
        <!--shop-gird view-->
        <div class="shop-list-toolbar">
          <form action="/search" method="GET">
            <div class="Search-Form-Field">
              <input type="text" name="query" id="query" class="Search-Form-Input" placeholder="Search" required />
              <label for="query" class="Search-Form-Label">
                Search
              </label>
            </div>
            <input type="submit" value="Search" class="Search-Form-Button"/>
          </form>
        </div>
          <div class="show-gird-product another">
          {{#if searchResults}}
              {{#each searchResults}}
                  <div class="single-product">
                    <div class="product-img">
                      <a class="b-s-p-img" href="/buy/{{_id}}">
                        <img
                          src="data:{{img.contentType}};base64,{{img.data}}"
                        />
                      </a>
                    </div>
                    <div class="product-block-text">
                      <h3>
                        <div>
                          <a href="/buy/{{_id}}">{{title}}</a>
                          <span>${{price}}</span>
                        </div>
                        <p>{{description}}</p>
                      </h3>
                    </div>
                    <a class="viewMore" href="/buy/{{_id}}">View More</a>
                  </div>
              {{/each}}
            {{else}}
              {{#each shop}}
                  <div class="single-product">
                    <div class="product-img">
                      <a class="b-s-p-img" href="/buy/{{_id}}">
                        <img
                          src="data:{{img.contentType}};base64,{{img.data}}"
                        />
                      </a>
                    </div>
                    <div class="product-block-text">
                      <h3>
                        <div>
                          <a href="/buy/{{_id}}">{{title}}</a>
                          <span>${{price}}</span>
                        </div>
                        <p>{{description}}</p>
                      </h3>
                    </div>
                    
                    <a class="viewMore" href="/buy/{{_id}}"><span>View More</span></a>
                  </div>
              {{/each}}
            {{/if}}
      </div>
    </div>
    <!--shop-area end-->
    {{> import_footer}}
  </body>
</html>