<html class="no-js" lang="">
  <head>
    {{> import_head}}
  </head>
  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {{> import_nav}}
    <script>
      if ({{loggedIn}} === false) {
        document.querySelector(".headerMenu").setAttribute("data-user", "false");
      }
    </script>


    <!--LOGIN RESTRICTION-->
    {{#if message}}
      <div class="error">{{message}}</div>
    {{/if}}

    <!--product header area start-->
    <div class="product-header-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="product-menu">
              <ul>
                <li><a href="../">Home</a>
                  <i class="fa fa-angle-right"></i></li>
                <li>{{shop.title}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--product header area end-->
    <!--product-simple area satrt-->
    <div class="product-simple-area">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="single-product-image">
              <div class="single-product-tab">
                <!-- Tab panes -->
                <div class="tab-content">
                  <div id="home" class="tab-pane active" role="tabpanel"><img
                      src="data:{{shop.img.contentType}};base64,{{shop.img.data}}"
                    /></div>
                  {{!-- <div id="profile" class="tab-pane" role="tabpanel"><img
                      src="../img/product/2.jpg"
                      alt=""
                    /></div>
                  <div id="messages" class="tab-pane" role="tabpanel"><img
                      src="../img/product/3.jpg"
                      alt=""
                    /></div>
                  <div id="settings" class="tab-pane" role="tabpanel"><img
                      src="../img/product/4.jpg"
                      alt=""
                    /></div> --}}
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="single-product-info">
              <h1 class="product_title">{{shop.title}}</h1>
              <div class="price-box">
                <span class="new-price">${{shop.price}}</span>
              </div>
              <div class="short-description">
                <p>{{shop.description}}</p>
              </div>
              <div class="stock-status">
                <label>Availability</label>:
                <strong>In stock</strong>
              </div>
              <form method="POST" action="">
                <div class="request-button">
                  <input
                    type="submit"
                    id={{shop.id}}
                    name={{shop.id}}
                    value="request now!"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--product-simple area end-->
    {{> import_footer}}

  </body>
</html>