<html class="no-js" lang="">
  <head>
    {{> import_head}}
  </head>
  <body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <!-- Add your site or application content here -->

    {{> import_nav}}


    <!--LOGIN RESTRICTION-->
    <p class="error" >{{error}}</p>

    <!--shop header area sart-->
    <div class="shop-header-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="shop-header-title">
              <h1>Rent All Products</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--shop header area end-->
    <!--gird men start-->
    <div class="grid-menu-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="gird-menu">
              <ul>
                <li><a href="/">Home</a> <i class="fa fa-angle-right"></i></li>
                <li>Rent</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--gird men start-->
    <!--shop-area start-->
    <div class="shop-area">
      <div class="container">
        <div class="row">
          {{! <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"> }}
          {{! former widget area }}
          {{! </div> }}
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="shop-list-toolbar">
            </div>
            <!--shop-gird view-->
            <div class="row">
              <div class="show-gird-product another">
                <ol>
                  {{#each shop}}
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                      <div class="single-product">
                        <div class="product-img">
                          <a class="b-s-p-img" href="/share/{{id}}">
                            <img
                              src="data:{{img.contentType}};base64,{{img.data}}"
                            />
                          </a>
                          <div class="img-block">
                            <div class="primary-icon">
                              <a href="/share/{{id}}"><i
                                  class="fa fa-random"
                                ></i></a>
                              <a href="/share/{{id}}"><i
                                  class="fa fa-eye"
                                ></i></a>
                            </div>
                            <div class="hover-icon">
                              <span class="random"><a href="/share/{{id}}"><i
                                    class="fa fa-random"
                                  ></i></a></span>
                              <span class="eye"><a href="/share/{{id}}"><i
                                    class="fa fa-eye"
                                  ></i>Quick view</a></span>
                            </div>
                          </div>
                        </div>
                        <div class="product-block-text">
                          <h3><a href="/share/{{id}}">{{title}}<span
                              >Price:${{price}}</span></a></h3>
                          <p><small>{{description}}</small></p>
                          {{! <button type="submit">buy now</button> }}
                          <a class="p-b-t-a-c" href="/share/{{id}}">view more</a>
                          {{! <input type="submit" value="Add"> }}
                        </div>
                      </div>
                    </div>
                  {{/each}}
                </ol>

              </div>
            </div>
            <!--pagination-->
          </div>
        </div>
      </div>
    </div>
    <!--shop-area end-->
    {{> import_footer}}
  </body>
</html>